body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  width: 100%;
  max-width: 400px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.1);
  width: 100%;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#statusMessage {
  text-align: center;
  margin-top: 20px;
}

.idle {
  color: #000;
}

.inProgress {
  color: #FFD700;
}

.success {
  color: #008000;
}

.failed {
  color: #FF0000;
}

.instruction {
  color: #888;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
