{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>UPDATER</title>
  <link rel="stylesheet" href="{% static 'live_tracker/styles.css' %}">
</head>

<body>
  <div class="container">
    <form id="apiForm">
      <label for="artistID">Artist ID:</label>
      <input type="text" id="artistID" name="artistID">
      <button type="submit">UPDATE</button>
    </form>
    <p id="statusMessage">IDLE</p>
  </div>
  <p class="instruction">Make sure the ArtistName exists as a column header in Airtable.</p>
  <script src="{% static 'live_tracker/script.js' %}"></script>
</body>

</html>