{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>UPDATE Playlist</title>
  <link rel="stylesheet" href="{% static 'live_tracker/styles.css' %}">
</head>

<body>
  <div class="container">
    <form id="playForm">
      <label for="artistID">Playlist URL/ID :</label>
      <input type="text" id="artistID" name="artistID">
      <button type="submit">UPDATE</button>
    </form>
    <p id="statusMessage">IDLE</p>
  </div>
  <script src="{% static 'live_tracker/statica.js' %}"></script>
</body>

</html>

